:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --bg-color: #f4f4f4;
    --accent-color: #0078ff;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    z-index: 1000;
}

header .title {
    margin: 0;
}

header .mode-toggle {
    background: transparent;
    border: none;
    color: var(--secondary-color);
    margin-left: 75rem;
    font-size: 1.5rem;
    cursor: pointer;
}

main {
    margin-top: 80px;
    /* Space for fixed header */
    padding: 20px;
}

.section {
    margin: 20px 0;
}

.section h2 {
    color: var(--accent-color);
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.profile-pic {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 80%;
    margin: 0 auto 20px;
}

.download-resume {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.download-resume:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.dark-mode {
    --primary-color: #fff;
    --secondary-color: #000;
    --bg-color: #222;
    --accent-color: #ff00ff;
}